{{- $s := .Site.Params }}
{{ $t := .Site.Title }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
  {{ partialCached "math" . }}
{{- end }}
{{- $iconsDir := default "icons/" .Site.Params.iconsDir }}
{{- $defaultFooterLogo := printf "%s%s" $iconsDir "apple-touch-icon.png"}}
<footer class="footer">
  <div class="footer_inner">
    &nbsp;copyright <span class="green">0x</span>DC<span class="green small">.me</span> <span class="year"></span>&nbsp;&nbsp;&nbsp;
    <a class="social-links" href="https://github.com/dotdc"><span class="social-icons github"></span></a>
    <a class="social-links" href="https://twitter.com/0xDC_"><span class="social-icons twitter"></span></a>
    <a class="social-links" href="https://hachyderm.io/@0xDC"><span class="social-icons mastodon"></span></a>
    <a class="social-links" href="https://linkedin.com/in/0xDC/"><span class="social-icons linkedin"></span></a>
    <a class="social-links" href="https://medium.com/@dotdc"><span class="social-icons medium"></span></a>
    {{- partialCached "top" .}} 
  </div>
</footer>
