{{- $s := .Site.Params }}
{{ $t := .Site.Title }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
  {{ partialCached "math" . }}
{{- end }}
{{- $iconsDir := default "icons/" .Site.Params.iconsDir }}
{{- $defaultFooterLogo := printf "%s%s" $iconsDir "apple-touch-icon.png"}}
<footer class="footer">
  <div class="footer_inner">
    &nbsp;copyright <span class="green">0x</span>DC<span class="green small">.me</span> <span class="year"></span>&nbsp;&nbsp;&nbsp;
    <a class="social-links" href="https://github.com/dotdc"><span class="social-icons github"></span></a>
    <a class="social-links" href="https://www.linkedin.com/in/0xdc/"><span class="social-icons linkedin"></span></a>
    <a class="social-links" href="https://bsky.app/profile/0xdc.me"><span class="social-icons bluesky"></span></a>
    {{- partialCached "top" .}}
  </div>
</footer>
