{{- $params := .Site.Params }}
{{- $centerLogo := $params.centerLogo }}
{{ $logo := $params.logo }}
<header class="nav_header" >
  <nav class="nav">
    {{- if $centerLogo }}
      {{- partialCached "logo" (dict "logo" $logo "class" "nav_hide") }}
    {{- else }}
      {{- partialCached "logo" (dict "logo" $logo) }}
    {{- end }}
    <button class="nav_close" aria-label="Toggle navigation">
      <span>
        <svg fill="none" height="67" viewBox="0 0 100 67" width="100" xmlns="http://www.w3.org/2000/svg"><g fill="#30c992"><path d="m0 6.66667h1e2V0H0z"></path><path d="m0 35.2082h1e2v-6.6666H0z"></path><path d="m1e2 66.6665H0v-6.6667h1e2z"></path></g></svg>
        <svg enable-background="new 0 0 15.642 15.642" viewBox="0 0 15.642 15.642" xmlns="http://www.w3.org/2000/svg"><path fill="#30c992" d="m8.882 7.821 6.541-6.541c.293-.293.293-.768 0-1.061s-.768-.293-1.061 0l-6.541 6.541-6.541-6.54c-.293-.293-.768-.293-1.061 0s-.293.768 0 1.061l6.541 6.541-6.54 6.54c-.293.293-.293.768 0 1.061.147.146.338.22.53.22s.384-.073.53-.22l6.541-6.541 6.541 6.541c.147.146.338.22.53.22s.384-.073.53-.22c.293-.293.293-.768 0-1.061z"/></svg>
      </span>
    </button>
    <div class='nav_body nav_body_{{ default "left" $params.mobileNavigation }}'>
      {{ partial "nav" (dict "context" . "menu" .Site.Menus.main) }}
      {{- if $centerLogo }}
        {{- partial "logo" (dict "logo" $logo "class" "nav_center") }}
      {{- end }}
      {{- partialCached "follow" . }}
    </div>
  </nav>
</header>
