{{- $menu := .menu }}
{{- $link := .context.Permalink }}
{{- $forwardSlash := "/" }}
{{- range $menu }}
  {{- $children := .Children }}
  {{- $name := .Name }}
  {{- $url := absLangURL .URL }}
  <div class="nav_parent{{ if (and (not $children) (eq (trim $url $forwardSlash) (trim $link $forwardSlash))) }} nav_active{{ end}}">
    <a href="{{ $url }}" class="nav_item" title="{{ $name }}">{{ $name }}{{ with $children }} <img src='{{ absURL "icons/caret-icon.svg" }}' alt="icon" class="nav_icon">{{ end }}</a>
    {{- with $children }}
    <div class="nav_sub">
      <span class="nav_child"></span>
      {{- range . }}
        {{- $name := .Name }}
        {{- $url := absLangURL .URL }}
        <a href="{{ $url }}" class="nav_child nav_item" title="{{ $name }}">{{ $name }}</a>
      {{- end }}
    </div>
    {{- end }}
  </div>
{{- end }}
