{{- $showShare := ne (.Param "showshare") false }}
{{- $showDate := ne (.Param "showdate") false }}
{{- $showReadTime := ne (.Param "showreadtime") false }}
{{- $showTags := isset .Params "tags" }}
{{- $showPostMeta := or ($showDate) ($showReadTime) }}
{{- $scratch := newScratch }}
{{- $scratch.Set "writeSeparator" false }}
{{- if $showPostMeta }}
  <div class="post_meta">
    {{- if $showDate }}
    <div class="post_date">
      <span class="grey">{{ .Date.Format (default "January 2, 2006" $.Site.Params.dateFormat) -}}</span> <span class="grey">by David Calvert</span>
    </div>
    {{- $scratch.Set "writeSeparator" true }}
    {{- end }}
    {{- if $showReadTime }}
    <span class="post_time">{{ if ($scratch.Get "writeSeparator") }} · {{ end }}{{ T "reading_time" . }}</span>
    {{- $scratch.Set "writeSeparator" true }}
    {{- end }}
  </div>
{{- end }}
{{- if or ($showTags) ($showShare) }}
  <div class="post_meta_extra">
  {{- with .Params.tags }}
    <div class="post_meta_tags">
      {{- range . }}
        {{- $tag := urlize . -}}
        <a href='{{ absLangURL (printf "tags/%s/" $tag) }}' title="{{ . }}" class="post_tag button button_translucent tag-color--{{ $tag }}">
          #&nbsp;{{- . }}
        </a>
      {{- end }}
    </div>
  {{- end }}
  {{- if $showShare }}
    <span class="page_only">{{ partial "share" . }}</span>
  {{- end }}
  </div>
{{- end }}
