  <div class="post_share">
    <div class="share">Share&nbsp;<span class="blink">></span></div>
    <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&tw_p=tweetbutton" class="twitter social" title="Share on Twitter" target="_blank" rel="nofollow">
      &nbsp;&nbsp;<i class="fa-brands fa-twitter social"></i>
    </a>
    <a href="#linkedinshare" id="linkedinshare" class="linkedin social" title="Share on LinkedIn" rel="nofollow">
      &nbsp;&nbsp;<i class="fa-brands fa-linkedin social"></i>
    </a>
    <a href="{{ .Permalink }}" title="Copy Link" class="link link_yank social">
      &nbsp;&nbsp;<i class="fa-solid fa-link social"></i>
    </a>
  </div>
  