  <div class="post_share">
    <div class="share">Share&nbsp;<span class="blink">></span></div>
    &nbsp;&nbsp;<a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&tw_p=tweetbutton" title="Share on Twitter" target="_blank" rel="nofollow">
      <span class="social-icons twitter" style="width:18px;height:18px;margin-top:-3px">
    </a>
    &nbsp;&nbsp;<a href="#linkedinshare" id="linkedinshare" title="Share on LinkedIn" rel="nofollow">
      <span class="social-icons linkedin" style="width:16px;height:19px;margin-top:-3px">
    </a>
    &nbsp;&nbsp;<a href="{{ .Permalink }}" title="Copy Link" class="link link_yank social">
      <span class="social-icons link2" style="width:22px;height:18px;margin-top:-3px">
    </a>
  </div>
  